<h1>delete the group</h1>
groupId:<br>
<input placeholder="groupId" [(ngModel)]="groupId"><br>
<button (click)="delete()">delete</button><br>













<button (click)="navigate('group/create')">create</button>
<button (click)="navigate('group/profile')">profile</button>
<button (click)="navigate('group/details')">details</button>
<button (click)="navigate('group/update')">update</button>
<button (click)="navigate('group/addUser')">addUser</button>
<button (click)="navigate('group/removeUser')">removeUser</button>