<h1>update a group</h1>
groupId:<br>
<input placeholder="groupId" [(ngModel)]="groupId"><br>
name:<br>
<input placeholder="name" [(ngModel)]="name"><br>
bio:<br>
<input placeholder="bio" [(ngModel)]="bio"><br>
<button (click)="update()">update</button><br>





















<button (click)="navigate('group/create')">create</button>
<button (click)="navigate('group/profile')">profile</button>
<button (click)="navigate('group/details')">details</button>
<button (click)="navigate('group/addUser')">addUser</button>
<button (click)="navigate('group/removeUser')">removeUser</button>
<button (click)="navigate('group/delete')">delete</button>