<p>event works!</p>
<router-outlet></router-outlet>
<!-- <app-create></app-create> -->

<button (click)="navigate('event/create')">create</button>
<button (click)="navigate('event/setFinalCondition')">setFinalCondition</button>
<button (click)="navigate('event/details')">details</button>
<button (click)="navigate('event/update')">update</button>
<button (click)="navigate('event/addToGroup')">addToGroup</button>
<button (click)="navigate('event/removeFromGroup')">removeFromGroup</button>
<button (click)="navigate('event/delete')">delete</button>
<button (click)="navigate('event/removeUser')">removeUser</button>
<button (click)="navigate('event/getCondition')">getCondition</button>
<button (click)="navigate('event/setCondition')">setCondition</button>
<button (click)="navigate('event/getVotes')">getVotes</button>
<button (click)="navigate('event/setVote')">setVote</button>
<button (click)="navigate('event/message')">setVote</button>
