<h1>add a user to a group</h1>
username:<br>
<input placeholder="userneme" [(ngModel)]="username"><br>
groupId:<br>
<input placeholder="groupId" [(ngModel)]="groupId"><br>
<button (click)="add()">add</button><br>









<button (click)="navigate('group/create')">create</button>
<button (click)="navigate('group/profile')">profile</button>
<button (click)="navigate('group/details')">details</button>
<button (click)="navigate('group/update')">update</button>
<button (click)="navigate('group/removeUser')">removeUser</button>
<button (click)="navigate('group/delete')">delete</button>